@use '../../src/scss/variables';

.container-fluid {
	width: 100%;
	margin: auto auto;
}

input {
	outline: none;
	font-family: Arial, Helvetica, sans-serif;
}

// Typography

@for $i from 1 through 6 {
	h#{$i} {
		font-family: 'MADE Coachella', sans-serif;
	}
}

a, p {
	font-family: 'Century Gothic', Arial;
}

a {
	text-decoration: none;
	transition: variables.$TRANSITION;

	&.header-nav-item {
		color: #222222;
		padding: 20px;
		font-size: 1.2em;
	}

	&.footer-nav-item {
		color: variables.$COLOR-TYPOGRAPHY--grey;
	}

	&:hover {
		color: variables.$COLOR--main;
	}

	&.button {
		color: #fff;
		padding: 10px 50px;
		background-color: variables.$COLOR--main;
		cursor: pointer;
		font-weight: 700;
		font-size: 0.9rem;
		border-radius: 30px;
	}
}