@use '../../scss/root/variables';
@use '../../scss/root/mixins';

.header-wrapper {
    padding: 22.5px 4%;
    background-color: hsla(0, 0%, 100%, 0.6);
    position: fixed;
    z-index: 9999;

    &.blur {
        backdrop-filter: blur(2em);
    }

    section {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        nav {
            .header-nav-item-button {
                margin: 20px;

                &:hover {
                    background-color: variables.$COLOR--secondary;
                    transform: translate(0px, -1.5px);
                }
            }
        }
    }
}