.testimonials {
    margin-top: 150px;
    .clients {
        flex-wrap: wrap;

        .clients-container {
            width: 50%;

            .single-client {
                align-items: center;
                width: 50%;
                height: 100px;
                padding-left: 35px;
                border-radius: 30px;
                cursor: pointer;

                &:hover {
                    box-shadow: 2px 2px 20px 0 rgb(0 0 0 / 20%);
                }

                &.margin-block {
                    margin-block: 25px;
                }

                .client-image {
                    margin-right: 15px;
                }

                .client-name {
                    font-size: 0.9rem;
                    font-weight: 700;
                }

                .client-state {
                    font-size: 0.8rem
                }
            }
        }

        .client-feedback {
            width: 50%;

            .feedback-stars {
                margin: 15px 0 7.5px 0;
            }
        }
    }
}

.client-active {
    box-shadow: 2px 2px 20px 0 rgb(0 0 0 / 20%);
}