/* Mobile First */
.col-1 {
  flex: 0 0 auto;
  width: calc(8.33% * 1);
}

.col-2 {
  flex: 0 0 auto;
  width: calc(8.33% * 2);
}

.col-3 {
  flex: 0 0 auto;
  width: calc(8.33% * 3);
}

.col-4 {
  flex: 0 0 auto;
  width: calc(8.33% * 4);
}

.col-5 {
  flex: 0 0 auto;
  width: calc(8.33% * 5);
}

.col-6 {
  flex: 0 0 auto;
  width: calc(8.33% * 6);
}

.col-7 {
  flex: 0 0 auto;
  width: calc(8.33% * 7);
}

.col-8 {
  flex: 0 0 auto;
  width: calc(8.33% * 8);
}

.col-9 {
  flex: 0 0 auto;
  width: calc(8.33% * 9);
}

.col-10 {
  flex: 0 0 auto;
  width: calc(8.33% * 10);
}

.col-11 {
  flex: 0 0 auto;
  width: calc(8.33% * 11);
}

.col-12 {
  flex: 0 0 auto;
  width: calc(8.33% * 12);
}

/* sm Breakpoint */
@media (min-width: 576px) {
  .col-sm1 {
    flex: 0 0 auto;
    width: calc(8.33% * 1);
  }

  .col-sm2 {
    flex: 0 0 auto;
    width: calc(8.33% * 2);
  }

  .col-sm3 {
    flex: 0 0 auto;
    width: calc(8.33% * 3);
  }

  .col-sm4 {
    flex: 0 0 auto;
    width: calc(8.33% * 4);
  }

  .col-sm5 {
    flex: 0 0 auto;
    width: calc(8.33% * 5);
  }

  .col-sm6 {
    flex: 0 0 auto;
    width: calc(8.33% * 6);
  }

  .col-sm7 {
    flex: 0 0 auto;
    width: calc(8.33% * 7);
  }

  .col-sm8 {
    flex: 0 0 auto;
    width: calc(8.33% * 8);
  }

  .col-sm9 {
    flex: 0 0 auto;
    width: calc(8.33% * 9);
  }

  .col-sm10 {
    flex: 0 0 auto;
    width: calc(8.33% * 10);
  }

  .col-sm11 {
    flex: 0 0 auto;
    width: calc(8.33% * 11);
  }

  .col-sm12 {
    flex: 0 0 auto;
    width: calc(8.33% * 12);
  }
}
/* md Breakpoint */
@media (min-width: 768px) {
  .col-md1 {
    flex: 0 0 auto;
    width: calc(8.33% * 1);
  }

  .col-md2 {
    flex: 0 0 auto;
    width: calc(8.33% * 2);
  }

  .col-md3 {
    flex: 0 0 auto;
    width: calc(8.33% * 3);
  }

  .col-md4 {
    flex: 0 0 auto;
    width: calc(8.33% * 4);
  }

  .col-md5 {
    flex: 0 0 auto;
    width: calc(8.33% * 5);
  }

  .col-md6 {
    flex: 0 0 auto;
    width: calc(8.33% * 6);
  }

  .col-md7 {
    flex: 0 0 auto;
    width: calc(8.33% * 7);
  }

  .col-md8 {
    flex: 0 0 auto;
    width: calc(8.33% * 8);
  }

  .col-md9 {
    flex: 0 0 auto;
    width: calc(8.33% * 9);
  }

  .col-md10 {
    flex: 0 0 auto;
    width: calc(8.33% * 10);
  }

  .col-md11 {
    flex: 0 0 auto;
    width: calc(8.33% * 11);
  }

  .col-md12 {
    flex: 0 0 auto;
    width: calc(8.33% * 12);
  }
}
/* lg Breakpoint */
@media (min-width: 992px) {
  .col-lg1 {
    flex: 0 0 auto;
    width: calc(8.33% * 1);
  }

  .col-lg2 {
    flex: 0 0 auto;
    width: calc(8.33% * 2);
  }

  .col-lg3 {
    flex: 0 0 auto;
    width: calc(8.33% * 3);
  }

  .col-lg4 {
    flex: 0 0 auto;
    width: calc(8.33% * 4);
  }

  .col-lg5 {
    flex: 0 0 auto;
    width: calc(8.33% * 5);
  }

  .col-lg6 {
    flex: 0 0 auto;
    width: calc(8.33% * 6);
  }

  .col-lg7 {
    flex: 0 0 auto;
    width: calc(8.33% * 7);
  }

  .col-lg8 {
    flex: 0 0 auto;
    width: calc(8.33% * 8);
  }

  .col-lg9 {
    flex: 0 0 auto;
    width: calc(8.33% * 9);
  }

  .col-lg10 {
    flex: 0 0 auto;
    width: calc(8.33% * 10);
  }

  .col-lg11 {
    flex: 0 0 auto;
    width: calc(8.33% * 11);
  }

  .col-lg12 {
    flex: 0 0 auto;
    width: calc(8.33% * 12);
  }
}
/* xl Breakpoint */
@media (min-width: 1200px) {
  .col-xl1 {
    flex: 0 0 auto;
    width: calc(8.33% * 1);
  }

  .col-xl2 {
    flex: 0 0 auto;
    width: calc(8.33% * 2);
  }

  .col-xl3 {
    flex: 0 0 auto;
    width: calc(8.33% * 3);
  }

  .col-xl4 {
    flex: 0 0 auto;
    width: calc(8.33% * 4);
  }

  .col-xl5 {
    flex: 0 0 auto;
    width: calc(8.33% * 5);
  }

  .col-xl6 {
    flex: 0 0 auto;
    width: calc(8.33% * 6);
  }

  .col-xl7 {
    flex: 0 0 auto;
    width: calc(8.33% * 7);
  }

  .col-xl8 {
    flex: 0 0 auto;
    width: calc(8.33% * 8);
  }

  .col-xl9 {
    flex: 0 0 auto;
    width: calc(8.33% * 9);
  }

  .col-xl10 {
    flex: 0 0 auto;
    width: calc(8.33% * 10);
  }

  .col-xl11 {
    flex: 0 0 auto;
    width: calc(8.33% * 11);
  }

  .col-xl12 {
    flex: 0 0 auto;
    width: calc(8.33% * 12);
  }
}
/* xxl Breakpoint */
@media (min-width: 1400px) {
  .col-xxl1 {
    flex: 0 0 auto;
    width: calc(8.33% * 1);
  }

  .col-xxl2 {
    flex: 0 0 auto;
    width: calc(8.33% * 2);
  }

  .col-xxl3 {
    flex: 0 0 auto;
    width: calc(8.33% * 3);
  }

  .col-xxl4 {
    flex: 0 0 auto;
    width: calc(8.33% * 4);
  }

  .col-xxl5 {
    flex: 0 0 auto;
    width: calc(8.33% * 5);
  }

  .col-xxl6 {
    flex: 0 0 auto;
    width: calc(8.33% * 6);
  }

  .col-xxl7 {
    flex: 0 0 auto;
    width: calc(8.33% * 7);
  }

  .col-xxl8 {
    flex: 0 0 auto;
    width: calc(8.33% * 8);
  }

  .col-xxl9 {
    flex: 0 0 auto;
    width: calc(8.33% * 9);
  }

  .col-xxl10 {
    flex: 0 0 auto;
    width: calc(8.33% * 10);
  }

  .col-xxl11 {
    flex: 0 0 auto;
    width: calc(8.33% * 11);
  }

  .col-xxl12 {
    flex: 0 0 auto;
    width: calc(8.33% * 12);
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.container {
  margin: auto;
  padding-inline: 1rem;
}/*# sourceMappingURL=specific-classes.css.map */